footer {
  background-color: var(--blue-color);
  color: white;
  font-size: var(--body-font-size-xs);

  a {
    color: white !important;
    text-decoration: underline !important;
  }

  img {
    width: auto !important;
  }

  ul {
    padding-left: 0 !important;
    list-style: none !important;
    margin-bottom: 30px;
  }

  .columns {
    margin-bottom: 40px;
  }
}

footer .footer > div {
  margin: auto;
  max-width: 1200px;
  padding: 40px 24px 24px;
}

footer .footer p {
  margin: 0;
}

@media (width >= 900px) {
  footer .footer > div {
    padding: 40px 32px 24px;
  }
}
